<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">

    <div class="login_page">
    <form >
        

        <div class="login_area">
            <input type="hidden" value="<%= user._id %>">
            <h1>edit User</h1>
            
            <div class="login_input">
                <label for="username">User Name</label>
                <input type="text" placeholder="username" id="username" name="username" required value="<%= user.username %>"><br>
                <label for="role">role</label>
                <input type="text" placeholder="role" id="role" name="role" required value="<%= user.role %>">

                
            </div>
            
    </div>
    <button class="login_button" id="edit_user" type="submit">edit</button>
    <button type="button" onclick="deleteuser('<%= user._id %>')">delete</button>
    </form>

    </div>
</div>
<div class="deletePop" id="deletePop">
    <div class="deleteForm">
      <h2>Are you sure you want to delete this post</h2>
    </div>
    <div class="deletePostionBtn">
      <button>cancel</button>
      <button id="deletePost" type="submit" >delete</button>
    </div>
  </div>
<script>

 async function editUser(userId){
    let username = document.getElementById("username").value
    let role = document.getElementById("role").value
    try {
        const userdtls = {
        username:username,
        role:role,
    };
    const response = await fetch(`http://localhost:5000/admin/user/${userId}`,{
        method:"PUT",
        headers:{"Content-type":"application/json"},body:JSON.stringify(userdtls)
    })
    if(response.redirected){
        window.location.href = '/admin/user'
    }

    } catch (error) {
        console.log("invalid",error);
        
    }
 }
 document.addEventListener("DOMContentLoaded",function(){
    const edit_user =  document.getElementById("edit_user");
    edit_user.addEventListener("click",async function (e){
        e.preventDefault();
        const userId ="<%= user._id %>"
        await editUser(userId)
    })

 })

 function deleteuser(userid) { 
const deletePop = document.getElementById("deletePop")
deletePop.style.display = "block"
   let delete_btn = document.getElementById("deletePost")
delete_btn.addEventListener("click",async function(){
    const res= await fetch(`http://localhost:5000/admin/user/${userid}`,{
            method:"DELETE",
        })
 if(res.ok){
    window.location.href="http://localhost:5000/admin/user"
 }else{
    console.log("error")
 }
})
}
</script>
</body>
</html>